/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap");


:root {
  --header-height: 3.5rem;
  
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat Alternates", sans-serif;
  --biggest-font-size: 2rem;
  --big-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4rem;
    --big-font-size: 3rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--black-color);
  color: var(--black-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
 
   /*=============== REUSABLE CSS CLASSES ===============*/
   .container {
    max-width: 1100px;
    margin-inline: 1.5rem;
  }
  
  .main {
    overflow: hidden;
    top: 100%;
  }
 /*=============== HEADER & NAV ===============*/
 .header{
  position: fixed;
  width: 90%;
  top: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}



.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  margin-inline-end: 0;
  align-items: center;
  
  
}

.nav__logo{
color: var(--black-color);
font-family: var(--body-font);
font-weight: var(--font-bold);
}

.nav__toggle,
.nav__close{
  font-size: 2rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu{
      position: fixed;
      top: 0;
      right: -100%;
      background-color: hsla(0, 0%, 100%, .1);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      width: 70%;
      height: 100%;
      padding: 6rem 2.5rem 0;
      transition: right .4s;
  }
 
  
  .nav__close i{
    color: var(--black-color);
    font-size: 1.5rem;
    cursor: pointer;
    top: 1rem;

  }
  
  .swiper{
    width: 20%;
    height: 20%;
    max-width: 200px;
  }
  .black-work{
    width: 110%;
    height: 100%;
    max-width: max-content;
    
  }


}
.nav__list{
display: flex;
flex-direction: column;
row-gap: 3.5rem;
}

.nav__link{
color: var(--black-color);
opacity: 0.8;
font-weight: var(--font-semi-bold);
}

.nav__link:hover{
opacity: 1;
transition: transform .3s ease-in-out;
}


.nav__close{
position: fixed;
top: 1rem;
right: 5rem;
}


/*=============== MENU SHOW Y HIDDEN ===============*/
/* Show menu when clicking the hamburger icon */
.show-menu{
  right: 0;
}
/* Hide menu when clicking the close icon */
.hide-menu{
  right: -100%;
}

/*=============== HOME ===============*/

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
 height: 100%;
  min-width: 300px;
  margin: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.swiper-container {
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: auto;
}

.home-title{
  margin-top: 100px;
  margin-bottom: 2rem;
 justify-content: space-between;
  align-items: center;
  text-align: center;
}


.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.home-space{
  margin-top: 2rem;
  padding: 0;
}

.home__subtitle{
  font-size: var(--h3-font-size);
  font-style: italic;
}

.home__title{
  font-size: var(--biggest-font-size);
  align-items: center;
  margin-bottom: 2rem;
  font-weight: var(--font-bold);
  max-width: 500px;
  
}
.home__social{
  position: fixed;
  z-index: var(--z-tooltip);
  left: 1rem;
  bottom:2rem;
  display: grid;
  row-gap: 1.5rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  
}

.home__social-link{
  color: var(--black-color);
  font-size: 1.5rem;
}

.home__social-link:hover {
  transform: translateY(-.5rem);
  transition: transform .4s ease-in-out;
}






/*=============== SWIPER ===============*/

.swiper-pagination {
  background-color: #000;
  opacity: 1;
  
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--black-color);
  transition: all .4s ease-in-out;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
    

    
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease-in-out;
  border-radius: 10px;
  margin: 10px;
 box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
 image-rendering: optimizeQuality;
  image-resolution: high;
  
}

.swiper-slide:hover img {
  transform: scale(1.1);
  filter: contrast(1.2);
  filter: brightness(1.05);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  
  
}

.swiper-slide img:hover{
  image-rendering: optimizeQuality;
  image-resolution: high;
  border-radius: 10px;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
  image-rendering: optimizeQuality;
  padding: 0;
  image-resolution: high;

}

.swiper-slide {
width: 100%;
}

.swiper-slide:nth-child(2n) {
width: 80%;
margin-inline-end: 50px;
align-self: center;
align-content: center;}

.swiper-slide:nth-child(3n) {
width: 60%;
margin-inline-end: 60px;
align-self: center;
align-content: center;

}

/*=============== BREAKPOINTS ===============*/
  /* For medium devices */
  
  @media screen and (min-width: 768px) {
    .nav__menu{
      width: 50%;
    }
    .swiper {
      width:50%;
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: #000;
      cursor: pointer;
      width: 40%;
      font-size: 10px;
    }
  }
  /* For large devices */
  @media screen and (min-width: 1150px){
    .container {
      margin-inline: auto;
    }
  
  .nav{
    height: calc(var(--header-height) + 2rem);
  }
  .home {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .swiper {
    width: 50%;
    height: 50%;
    max-width: 600px;
    align-self: center;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    cursor: pointer;
    width: 45%;
    font-size: 10px;
  } 
  .nav__toggle,
  .nav__close {
    display: none;
  }
  
  .nav__menu{
    width: initial;
  }
  
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
}

